body {
    margin: 0;
    padding: 0;
    background-image: url("../images/pexels-hasan-kurt-154798938-1074.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
/* Navbar */

#navbar {
  background-color: black;
  padding: 25px 80px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* Logo */
.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 34px;
  color: #d4a017;
  justify-self: start;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
  justify-self: center;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s ease;
  position: relative;
}

/* Hover Effect */
.nav-links a:hover {
  color: #d4a017;
}

/* Gold underline animation */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #d4a017;
  left: 0;
  bottom: -6px;
  transition: 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}
#title{
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  color: #f5f4f0; 
  margin-left: 7%;
  margin-top: 10%;
}
#title2{
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  color: #f5f4f0; 
  margin-left: 7%;
  margin-top: -2%;
}
#title3{
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  color: #f5f4f0; 
  margin-left: 7%;
  margin-top: -2%;
}
#titles{
  margin-top: -3%;
}
.btn {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  padding: 12px 28px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
  letter-spacing: 1px;
  margin-left: 30%;
}

.btn:hover {
  background: #ffffff;
  color: #000;
}








